BOT_TOKEN=                  # Токен основного бота
TEST_BOT_TOKEN=             # Токен тестового бота

ADMIN_CHAT_ID=              # ID администратора (необходимо для получения логов ошибок при неудачной публикации)

CHAT_ID=                    # ID основного канала
TEST_CHAT_ID=               # ID тестового канала
CHANNEL_LINK=               # Ссылка канала, используемая в приветственных сообщениях

DB_URL=                     # Тип и адрес базы данных проекта

REGULAR_POST_HOUR_UTC=      # Часы расписания публикации регулярных постов (пример: 5,10,11,15,16,17,18,19)
INSTANT_CHECK_MINUTES=      # Минуты каждого часа расписания публикации внеочередных постов (пример: 5,35)

TEST_PHOTO_DIR=             # Директория с фото для тестового режима
PROD_PHOTO_DIR=/app/photos  # Директория с фото для продакшн-режима

PRODUCTION_MODE=            # 'true' для режима продакшн, иначе - для тестового режима